@tailwind base;
@tailwind components;
@tailwind utilities;

  /* For Webkit/Blink browsers */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #1daf91; /* color of the scrollbar */
  border-radius: 8px; /* roundness of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #127d68; /* color of the scrollbar on hover */
}
