@tailwind base;
@tailwind components;
@tailwind utilities;

  /* For Webkit/Blink browsers */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #1daf91; /* color of the scrollbar */
  border-radius: 8px; /* roundness of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #127d68; /* color of the scrollbar on hover */
}


/* globals.css */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1daf91;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
