.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-color: #4b5563;
  width: 100%; /* Adjusted width for responsiveness */

  /* Hide carousel on small devices */
  display: block; /* Ensure it's visible by default */
}

.carousel-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjusted width for responsiveness */
  max-width: 300px; /* Maximum width to maintain card size on larger screens */
  height: 150px;
  border-radius: 20%;
}

.carousel-card > img {
  height: auto; /* Allow image height to adjust proportionally */
  width: 100%; /* Make image width 100% of parent */
  max-width: 100%; /* Ensure image does not exceed its natural size */
  border-radius: 10%;
}

.carousel-track {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 120px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .carousel-container {
    display: none; /* Hide carousel on small screens */
  }

  .carousel-card {
    max-width: 100%; /* Adjust max-width to fill smaller screens */
    width: auto; /* Allow cards to expand to fit smaller screens */
  }

  .carousel-track {
    gap: 6px; /* Further reduce gap for very small screens */
  }
}
